---
import Layout from "../layouts/Layout.astro";
import { LinkedinIcon, XIcon, GithubIcon } from "astro-feather";
---

<Layout title="Gabriel Audette | Portfolio">
    <main class="">
        <section class="hero min-h-screen">
            <div class="hero-content">
                <div class="flex flex-col gap-4 items-center">
                    <h1 class="text-5xl font-bold">Hello, I'm Gabriel Audette</h1>
                    <p class="text-2xl">I'm a software developer based in Montreal, Canada.</p>
                    <div class="flex items-center gap-4">
                        <a href="https://www.linkedin.com/in/gabriel-audette/" target="_blank">
                            <LinkedinIcon />
                        </a>
                        <a href="https://github.com/gabaudette" target="_blank">
                            <GithubIcon />
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</Layout>

<style>
    .hero {
        background-image: url("/hero.svg");
    }
</style>
